{% extends 'main/base.html' %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6 mb-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <p>Удалить запись "{{ object.title }}"?</p>
                            <button type="submit" class="btn btn-danger">
                                Подтвердить
                            </button>
                            <a href="{% url 'post:list' %}" class="btn btn-warning">0тмена</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}