.DS_Store
/venv
/env
/db.sqlite3
/config/__pycache__
/config/__init__.py
/catalog/__pycache__
/catalog/__init__.py
/catalog/migrations/__init__.py
/catalog/management/commands/__init__.py
/catalog/management/__init__.py
