<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Вадим Кравцов">
    <meta name="description" content = "Тестовая страница">
    <meta name="keywords" content = "тест, проверка, html">
    <title>SkyStore</title>
  </head>
  <body>
    <!--Комментарий-->



<div>


    <ul class="nav">

  <li class="nav-item">
    <a class="nav-link" href="#">Каталог</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Контакты</a>
  </li>

</ul>

</div>

<div>
  <h1>SkyStore</h1>
</div>



<div class="card">
  <div class="card-body">
    Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели продать
  </div>
</div>




<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Удобный сервис рассылок</h5>


  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Преимущества
  </button>

<div style="min-height: 120px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <div class="card card-body" style="width: 300px;">

  <pre>  - Неограниченная лицензия
    - Поддержка
    - Установка на сервер
    - Получение обновлений</pre>

    </div>
  </div>
</div>

    <h1>100$</h1>
    <a href="#" class="btn btn-success">Купить</a>
  </div>
</div>







  </body>
</html>

