<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Вадим Кравцов">
    <meta name="description" content = "Тестовая страница">
    <meta name="keywords" content = "тест, проверка, html">
    <title>SkyStore</title>
  </head>
  <body>
    <!--Комментарий-->



<div>


    <ul class="nav">

  <li class="nav-item">
    <a class="nav-link" href="#">Каталог</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Контакты</a>
  </li>

</ul>

</div>

<div>
  <h1>SkyStore</h1>
</div>



<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Имя</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Введите данные для связи.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Отправить данные</button>
</form>


<h1>Контакты</h1>

<pre>
  Страна 	USA
  ИНН 	91-1144442
  Адрес 	Redmond,WA,98052-6399
</pre>

<h1>Дополнительно</h1>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Рассылки</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Телеграмм-боты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Веб-приложения</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">О нас</a>
  </li>
</ul>



  </body>
</html>

