{% extends 'catalog/base.html' %}

{% block content %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="font-weight-light">SkyStore</h1>
        <p class="lead text-muted">Skystore - это отличный вариант для оптовой покупки овощей и фруктов, которые вы бы хотели продать</p>
        <p>
          <a href="{% url 'catalog:merchandise' %}" class="btn btn-primary my-2">Каталог</a>
          <a href="{% url 'catalog:contacts' %}" class="btn btn-secondary my-2">Контакты</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" role="img" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text"><pre>- Тариф: Базовый
    - Поддержка
    - Доставка на склад
    - Получение обновлений</pre></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">100$</button>
                </div>
                <small class="text-muted">9 минут</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}